<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">


            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="bi bi-house"></i>
                فروشگاه
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <i class="bi bi-building"></i>
                داشبورد
              </a>
            </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/product">
            <i class="bi bi-basket"></i>
            محصولات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/category">
            <i class="bi bi-diagram-3"></i>
            دسته بندی محصولات
          </a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="/admin/slider">
            <i class="bi bi-back"></i>
            اسلایدر
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/Productslider">
            <i class="bi bi-sliders"></i>
          اسلایدر محصولات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/customer">
            <i class="bi bi-people"></i>
            کاربران
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/newsletter">
            <i class="bi bi-newspaper"></i>
            خبرنامه
          </a>
        </li>



     


      </ul>
    </div>
  </nav>