<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">کاربر</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/customer/">کاربران</a></li>
          <li class="breadcrumb-item active">کاربر جدید</li>
        </ol>
      </nav>
    </div>
  </div>

</div>


<form action="/admin/customer/add" method="POST">

  <div class="row form-group mb-4">
    

    <div class="col">
      <label for="lastName">نام خانوادگی</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="نام خانوادگی" required>
    </div>

    <div class="col">
      <label for="firstName">نام</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="نام" required>
    </div>

    
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel">تلفن</label>
      <input type="text" class="form-control" id="tel" name="tel" value="" placeholder="تلفن" required>
    </div>

    <div class="col">
      <label for="email">ایمیل</label>
      <input type="text" class="form-control" id="email" name="email" value="" placeholder="ایمیل" required>
    </div>
  </div>


  <div class="form-group mb-4">
      <label for="details">اطلاعات تکمیلی</label>
      <textarea class="form-control" name="details" id="details" cols="30" rows="12" placeholder="اطلاعات بیشتر"></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">افزودن</button>
  </div>

  

</form>